@model List<EstateAgentPanelResultProductViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/EstateAgent/Views/Layout/Index.cshtml";
}

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">İlanlarım Listesi</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Giriş Tarihi</th>
                    <th scope="col">İlan Başlığı</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">İl</th>
                    <th scope="col">İlçe</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Durumu</th>
                    <th scope="col">Sil</th>
                    <th scope="col">Güncelle</th>
                    <th scope="col">Sitede Gör</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @item.createdDate.ToShortDateString()
                            <img class="img-fluid" style="height:50px;width:80px;border-radius:50%" src="@item.coverImage" alt="">
                        </th>
                        <td>@item.title</td>
                        <td>@item.price</td>
                        <td>@item.city</td>
                        <td>@item.district</td>
                        <td>@item.address</td>
                        <td>@item.categoryName</td>
                        <td>@item.type</td>
                        <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
                        <td><a href="#" class="btn btn-outline-dark">İlana Git</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="#" class="btn btn-outline-primary">Ürün Ekle</a>
    </div>
</div>