@model ResultProductDetailsViewModel
<div class="single-bg-white">
    <h3 class="post-content-title mb-4">İlan Detayları</h3>
    <ul class="details-list">
        <li><strong>İlan Id :</strong> @Model.productId </li>
        <li><strong>Metrekare :</strong> @Model.productSize </li>
        <li><strong>Oda :</strong> @Model.roomCount </li>
        <li><strong>Yatak Odası :</strong> @Model.bedroomCount </li>
        <li><strong>Banyo :</strong> @Model.bathCount </li>
        <li><strong>Exterior material :</strong> Brick </li>
        <li><strong>Structure type :</strong> Wood </li>
        <li><strong>Garaj Sayısı :</strong> @Model.garageSize </li>
        <li><strong>Garages :</strong> 15 </li>
        <li><strong>Fiyat :</strong> @Model.price ₺ </li>
        <li><strong>Yapım Yılı :</strong> @Model.buildYear </li>
        <li><strong>Avaiable from :</strong> Aug 2019 </li>
    </ul>
</div>